<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728955543954-1477dn0mouehjuijb5tnphq46ccsn2no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728955543954-1477dn0mouehjuijb5tnphq46ccsn2no</string>
	<key>API_KEY</key>
	<string>AIzaSyDOUstYx8_hBMgu3k-fh_8g6TP5LHI1Eok</string>
	<key>GCM_SENDER_ID</key>
	<string>728955543954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eosdanceschool.app</string>
	<key>PROJECT_ID</key>
	<string>eos-dance-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-dance-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728955543954:ios:6730a1191e882f4fef614b</string>
</dict>
</plist>